body {
  margin: 0;
  font-family: "Titan One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2196f3;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  padding: 0 45px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav a {
  color: #fff;
  text-decoration: none;
}

.nav li {
  margin-left: 20px;
}
