body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6fb6ed;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  font-family: "Titan One", cursive;
  padding: 10px 45px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  position: relative;
  height: inherit;
  margin: 0 auto;
}
.nav {
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.nav a {
  color: #fff;
  text-decoration: none;
}

.nav li {
  margin-left: 20px;
}

.shitcontent {
  text-align: center;
  margin: 40px;
}
h1 {
  text-align: center;
  font-family: "Titan One", cursive;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.preshit {
  text-align: center;
  margin: 15px;
}

.HeroBox {
  display: block;

  text-align: center;
}

.HeroBox img {
  width: 100%;
  max-width: 1140px;
}
.fab {
  color: white;
  font-size: 30px;
  align-items: center;
}
